<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Honourable Members</title>
    <link rel="stylesheet" href="/static/stylesheet/style.css">
    <link rel="stylesheet" href="/static/stylesheet/index.html">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>
    <script src="https://kit.fontawesome.com/5f4c1bb038.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
</head>

<body>
    <div class="navbar">
        <a href="/index.html">HOME</a>
        <a href="/member.html"class="current-page">MEMBERS</a>
        <a href="resume.html">BLOGS</a>
        <a href="resume.html">ACTIVITIES</a>
        <a href="resume.html">RESOURCES</a>
        <a href="resume.html">PHOTOS</a>
    </div>

</body>
</html>