{% extends 'master.html' %}

{% block body %}

    <div>
        <h1> <center>Honourable Proud Members of ELON BOYS</h1></center>
    </div>
    <section>
        <div class="container">
            <div class="card">
                <div class="front">
                    <img src="/static/stylesheet/safi-pro1.jpg" alt="Profile Image">
                    <div class="overlay">
                        <p>Passionate ML Developer with expertise in data cleaning, model training, and evaluation.</p>
                    </div>
                </div>
                <div class="back">
                    <div class="box">
                        <div class="pfp">
                          <div class="inner-area">
                            <img src="/static/stylesheet/safi-pro2.jpg" alt="person profile image">
                          </div>
                        </div>
                        
                        <div class="name">Safi Chowdhury</div>
                        <div class="bio">Khet Iphone User</div>
                        <div class="socials">
                            <a href="https://www.facebook.com/safi.chowdhury.10"><i class="fa fa-facebook social fb" style="font-size: 22px; line-height: 40px;"></i></a>
                            <a href="https://github.com/SafiChowdhury"><i class="fa fa-github social gh" style="font-size: 22px; line-height: 40px;"></i></a>
                            <a href="#"><i class="fa fa-instagram social ig" style="font-size: 22px; line-height: 40px;"></i></a>
                            <a href="https://www.linkedin.com/in/safi-ullah-chowdhury-3373211b5/"><i class="fa fa-linkedin social li" style="font-size: 22px; line-height: 40px;"></i></a>
                        </div>
                        <div class="buttons">
                          <button onclick="">Resume</button>
                          <button onclick="">Portfolio</button>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        
    </section>
    <!-- <a href="https://www.facebook.com/nazmulislam4581/"><i class="fa fa-facebook social fb" style="font-size: 22px; line-height: 40px;"></i></a>
    <a href="#"><i class="fa fa-twitter social tt" style="font-size: 22px; line-height: 40px;"></i></a>
    <a href="#"><i class="fa fa-instagram social ig" style="font-size: 22px; line-height: 40px;"></i></a>
    <a href="https://www.linkedin.com/in/nazmul-islam-nayem-379424213/"><i class="fa fa-linkedin social li" style="font-size: 22px; line-height: 40px;"></i></a> -->
    
    {% endblock %}